:host {
  display       : flex;
  flex-direction: column;
}

$gap:30px;

header {
  width           : 100%;
  text-align      : center;
  background-color: #5fafff;
  color           : #ffffff;
  font-size       : 28px;
  padding         : 8px;
}

main {
  padding       : $gap;
  font-size     : 18px;
  display       : flex;
  flex-direction: column;
  align-items   : center;

  .add-form {
    background-color: #ffffff;
    padding         : 10px;
    width           : 1200px;
    max-width       : 100%;

    .column {
      display: flex;
      padding: 10px;

      .title {
        width: 200px;
        color: #3a464d;
      }

      .content {
        flex: 1;
      }

      .button {
        margin-left: 10px;
      }
    }
  }

  .right {
    width           : 1200px;
    max-width       : 100%;
    margin-left     : 0;
    margin-top      : 10px;
    overflow        : auto;
    background-color: #ffffff;
    border          : 1px solid #d9d9d9;

    .card {
      min-height: 200px;

      table {
        width         : 100%;
        border-spacing: 0;

        .check {
          width: 50px;
        }

        .id {
          width: 50px;
        }

        .des {
          width: 350px;
        }

        .time {
          width: 200px;
        }

        .status {
          width: 100px;
        }

        .edit {
          width: 150px;
        }

        thead th {
          border-bottom: 1px solid #dddddd;
        }

        tbody tr:not(:last-child) td {
          border-bottom: 1px solid #dedede;
        }

        tr {

          th,
          td {
            text-align: left;
            padding   : 15px 8px;

            &:first-child {
              text-align: center;
            }
          }

        }
      }
    }
  }

}

.chip {
  background-color: #ebebeb;
  font-size       : 14px;
  border-radius   : 50px;
  padding         : 2px 20px;

  &.completed {
    background-color: #99f6ba;
  }
}

.over-hidden {
  white-space  : nowrap;
  text-overflow: ellipsis;
  overflow     : hidden;
  width        : 350px;
  display      : block;
}

.edit-icon {
  cursor: pointer;
}


.row {
  display: flex;
}
