<header>TODO LIST</header>
<main>
  <div class="add-form">
    <form (ngSubmit)="!processing && addRow()"
          [formGroup]="addForm">
      <div class="column">
        <div class="title">Task description</div>
        <div class="content">
          <app-input placeholder="Please input task description..."
                     formControlName="description">
          </app-input>
        </div>
        <app-button class="button">{{ 'Add' }}

        </app-button>
      </div>
    </form>
  </div>
  <div class="right">
    showDelete:{{showDelete}},isCheckedAll:{{isCheckedAll}}
    <div class="card">
      <table>
        <thead>
          <tr>
            <th class="id"
                (click)="getRowData('id')">
              <div class="row">
                #
                <mat-icon fontIcon="filter_list"
                          *ngIf="sortColumn === 'id'">
                </mat-icon>
              </div>
            </th>
            <th class="des"
                (click)="getRowData('description')">
              <div class="row">
                Description
                <mat-icon fontIcon="filter_list"
                          *ngIf="sortColumn === 'description'">
                </mat-icon>
              </div>
            </th>
            <th class="status"
                (click)="getRowData('isCompleted')">
              <div class="row">
                Completed
                <mat-icon fontIcon="filter_list"
                          *ngIf="sortColumn === 'isCompleted'">
                </mat-icon>
              </div>
            </th>
            <th class="edit">
              Edit
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rowData">
            <td class="id">{{ item.id + 1 }}</td>
            <td class="des">
              <span class="over-hidden">
                {{ item.description }}
              </span>
            </td>
            <td class="status">
              <app-checkbox [ngModel]="item.isCompleted"
                            (ngModelChange)="changeStatus(item,$event)">
              </app-checkbox>
            </td>
            <td class="edit">
              <mat-icon class="edit-icon"
                        aria-hidden="false"
                        aria-label="edit"
                        fontIcon="edit"
                        (click)="showEditPopup(item)">
              </mat-icon>
              <mat-icon class="edit-icon"
                        fontIcon="delete"
                        (click)="deleteItem(item.id)">
              </mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
