<header>TODO LIST</header>
<main>
  <div class="add-form">
    <form (ngSubmit)="!processing && addRow()"
          [formGroup]="addForm">
      <div class="column">
        <div class="title">Task description</div>
        <div class="content">
          <app-input placeholder="Please input task description..."
                     formControlName="description">
          </app-input>
        </div>
        <app-button class="button">{{ 'Add' }}</app-button>
      </div>
    </form>
  </div>
  <div class="right">
    <div class="card">
      <table>
        <thead>
          <tr>
            <th class="id">
              <div class="row">
                #
              </div>
            </th>
            <th class="des">
              <div class="row edit-icon">
                Description
                <mat-icon fontIcon="search"
                          *ngIf="!openSearch"
                          (click)="openSearch = true">
                </mat-icon>
                <app-input *ngIf="openSearch"
                           placeholder="search task"
                           [(ngModel)]="search"
                           (ngModelChange)="getRowData()"
                           (blur)="closeSearch()">
                </app-input>
              </div>
            </th>
            <th class="status">
              <div class="row">
                Completed
              </div>
            </th>
            <th class="time edit-icon"
                (click)="getRowData(sortColumn)">
              <div class="row">
                Create At
                <mat-icon fontIcon="filter_list"
                          *ngIf="sortColumn === 'desc'">
                </mat-icon>
              </div>
            </th>
            <th class="edit">
              Edit
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rowData">
            <td class="id">{{ item.id + 1 }}</td>
            <td class="des">
              <span class="over-hidden">
                {{ item.description }}
              </span>
            </td>
            <td class="status">
              <app-checkbox [ngModel]="item.isCompleted"
                            (ngModelChange)="changeStatus(item,$event)">
              </app-checkbox>
            </td>
            <td class="time">
              <span class="chip">
                {{ item.time | date:'YYYY-MM-dd hh:mm:ss' }}
              </span>
            </td>
            <td class="edit">
              <mat-icon class="edit-icon"
                        aria-hidden="false"
                        aria-label="edit"
                        fontIcon="edit"
                        (click)="showEditPopup(item)">
              </mat-icon>
              <mat-icon class="edit-icon"
                        fontIcon="delete"
                        (click)="deleteItem(item.id)">
              </mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
